*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0 50px;
    margin: 0;
    /* height: 100vh; */
    /* margin: 0px;
    display: grid;
    grid-template-rows: 90px 1fr 40px ;
    grid-template-columns: 1fr;
    grid-template-areas: "cabecalho" "principal" "rodape"; */
}

.menu-bar{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-bar > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-bar > div > input[type=text]{
    width: 30vw;
    font-size: 1.1rem;
    padding: 2px 3px;
    margin: 0;
    color: #000;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px 0 0 5px;
    border-right: none;
}
.menu-bar > div > input[type=text]:focus{
    outline: none;
}
.menu-bar > div > button{
    background-color: rgb(91, 91, 255);
    width: 27px;
    height: 27px;
    padding: 4px 0 0 0;
    border-radius: 0 5px 5px 0;
}
.menu-bar > div > button > img{
    width: 15px;
    height: 15px;
}

.btn{
    background-color: rgb(91, 91, 255);
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 13px;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color:  rgb(34, 34, 252);
    cursor: pointer;
}
.btn:active{
    background-color: rgb(91, 91, 255);
}
button:focus{
    outline: none;
}


.table{
    margin-top: 30px;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    text-align: left;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.table-rows:nth-child(even){
    background-color: #dadada;
}
.table-rows:hover{
    background-color: #bebebe;
}
td{
    border: 1px solid #ddd;
    padding: 7px 0;
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
}
td:nth-child(5){
    width: 220px;
}

td > span{
    padding: 3px 5px;
    border: none;
    border-radius: 5px;
    margin: 0 5px 0 0;
    color: #fff;
    cursor: pointer;
}
.open{
    background-color: rgb(40, 204, 40);
}
.open:hover{
    background-color: rgba(40, 204, 40, 0.527);
}
.edit{
 background-color: rgb(255, 145, 0);
}
.edit:hover{
 background-color: rgba(255, 145, 0, 0.507);
}
.delete{
 background-color: rgb(224, 20, 20);
}
.delete:hover{
 background-color: rgba(224, 20, 20, 0.459);
}

.table-summary{
    font-size: 0.8rem;
    margin: 5px 0;
    color: rgb(128, 128, 128);
    padding: 3px 0;
}

.table-menu{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}
.prev{
    color: rgb(36, 129, 250) ;
    background-color: transparent;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    padding: 3px 10px;
    margin: 0;
}
.prev:hover{
    background-color:  rgb(185, 185, 185);
}
.next{
    color: rgb(36, 129, 250) ;
    background-color: transparent;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 3px 10px;
    margin: 0;
}
.next:hover{
    background-color:  rgb(185, 185, 185);
}
.index{
    background-color: transparent;
    color: rgb(36, 129, 250);
    text-decoration: none;
    padding: 3px 6px;
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
    border-top: 1px solid rgb(185, 185, 185);
    margin: 0;
    cursor: pointer;
}
.index:nth-child(3){
    border: 1px solid rgb(185, 185, 185);
}
.index:hover{
    background-color:  rgb(185, 185, 185);
}